{% extends 'base_layout.html' %}

{% block content %}

    <p><i>Enter star system to find  the best locations sell void opals within radius of up to 100 light years.
    <br>Then select station to see nearby planets to mine.</i></p>
    <form action="/elite/" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="GO!">
    </form>


    {% if planetResults %}

      <div class="mine-results">
        <h2>Planets with icy rings near {{ stationResults.sellStation }}</h2>

        <table>
          <tr>
            <th>System</th>
            <th>Body</th>
            <th>Arrival Distance</th>
            <th>Distance from {{ stationResults.sellSystem }}</th>
            <th>Weekly Traffic</th>
            <th>Security Level</th>
          </tr>
          {% for planet in planetResults %}
          <tr>
            <td>{{ planet.systemName }}</td>
            <td>{{ planet.name }}</td>
            <td>{{ planet.distanceToArrival}} <i>ls</i></td>
            <td>{{ planet.distance }} <i>ly</i></td>
            <td>{{ planet.traffic }} ships</td>
            <td>{{ planet.security }}</td>
          </tr>
          {% endfor %}
        <table>
      </div>
      {% endif %}
      {% if stationResults %}
      <div class="sell-results">
        <h2>Selling Locations</h2>
        <p>Select a station name to view mining locations nearby.</p>
        <table>
          <tr>
            <th>System</th>
            <th>Station</th>
            <th>Landing Pad</th>
            <th>Arrival Distance</th>
            <th>Distance from {{ form.location.value }}</th>
            <th>Sell Price</th>
            <th>Last Updated</th>
          </tr>
        {% for station in stationResults.stations %}
        <tr>
          <td>{{ station.systemName }}</td>
          <td><form name="get_planets" action='/elite/' method="post" action="{% url 'elite:elite_main' %}">
            {% csrf_token %}
            <input type="hidden" name="location" value="{{ form.location.value }}">
            <input type="hidden" name="radius" value="{{ form.radius.value }}">
            <input type="hidden" name="stationName" value="{{ station.name }}">
            <input type="hidden" name="systemName" value="{{ station.systemName }}">

            <input class="stationButton" type="submit" value="{{ station.name }}"></form></td>
          <td>{{ station.pad }}</td>
          <td>{{ station.distanceToArrival }} <i>ls</i></td>
          <td>{{ station.distance }} <i>ly</i></td>
          <td>{{ station.price }}</td>
          <td>{{ station.updated }}</td>

        </tr>
        {% endfor %}
      </div>

    {% endif %}
{% endblock %}
